@import "bootstrap";

//背景の色
//body{
//    background-color:#F4F5F7;
//}

//nav.navbar.navbar-expand-lg.navbar-light.bg-light.red{
//    background-color: rgba(237,84,133,1) !important;
//}


//bootstrapのbtnに独自の色のクラスを作る。綺麗な青
//.btn.btn-color{
//    background-color:rgba(255,182,185,1);
//}
html{
    height:100%;
}
body{
    height:100%;
    background-color:#f6f6f4;
}
.container{
    background-color:white;
}

//日記showの日付のアイコンの配置
i.material-icons.calendar{
    margin-left:13%;
}

// 
a.page-link{
    color:black;
}
li.active.page-item a.page-link{
    background-color:#17a2b8;
    border-color:#17a2b8;
}

input#user_email{
    border:inset;
}
input#user_password{
    border:inset;
}
